@import '../../colors.scss';

.ListItem{
  flex: 1;
  padding: 16px 32px;
  display: flex;
  height: 200px;
  flex-wrap: wrap;
  position: relative;
  margin: 8px 0;
  border: 1px solid $copper;
  @include respond-to($phone){
    max-width: 300px;
    margin: 16px auto;
    padding: 16px;
  }
  &_mobile{
    position: absolute;
    top: 16px;
    &_fav{
     @extend .ListItem_mobile;
     left: 16px;
    }
    &_edit{
      @extend .ListItem_mobile;
      right: 16px;
    }
  }
  &_description{
    font-size: 12px;
    display: flex;
    &_container{
      max-height: 100%;
      display: flex;
      flex-direction: column;
      @include respond-to($desktop, $tablet){
        flex: 2;
      }
      @include respond-to($phone){
        margin: auto;
        max-width: 300px;
      }
    }
    &_title{
      margin-bottom: 16px;
    }
    &_text{
      overflow-y: auto;
      font-size: 12px;
      line-height: 17px;
      color: $blackish;
    }
  }

  &_edit{
    width: 20px;
  }
  &_image{
    flex: 1;
    max-height: 100%;
    display: flex;
    margin: 16px 32px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    @include respond-to($phone){
      min-width: 200px;
      min-height: 200px;
    }
  }
}