@import '../../colors.scss';

.Settings{
  flex: 1;
  max-width: 700px;
  padding: 50px 16px;
  &_title{
    color: $blackish !important;
  }
  &_section{
    padding: 16px 0;
    margin: 8px;
    border-bottom: 1px solid $copper;
    display: flex;
    flex-direction: column;
    &_item{
      margin: 4px 0;
      &_name{
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
}