@import '../../colors.scss';

.Financials{
  justify-self: center;
  border: 1px solid $pink;
  flex: 1;
  &_outerContainer{
    max-width: 800px;
    flex-grow: 1;;
    display: flex;
    flex-direction: column;
  }
  &_title{
    margin: 16px auto;
    text-align: center;
    color: $blackish !important;
  }
  &_header{
    height: 30px !important;
    font-size: 12px;
  }
  &_subtitle{
    flex: 1;
    padding: 8px;
    color: $pink !important;
    min-width: 150px;
    &_container{
      flex-wrap: wrap;
      display: flex;
      text-align: center;
      background-color: $blackish;
      border-radius: 4px;
      padding: 16px;
      margin: 8px 0;
    }
  }
  &_scrollableView{
  flex: 1;
   overflow-y:scroll; 
  }
  &_row{
    height: 50px;
    border-bottom: 1px solid $grey;
    align-items: center;
    margin: 0 16px;
    padding: 4px 36px;
    display: flex;
    justify-content: space-between;

    &_text{
      // flex: 1;
      color: $blackish;
      &_bold{
        @extend .Financials_row_text;
        font-weight: 600;
      }
    }
  }
  &_category{
    border-bottom: 1px solid $blackish;
    font-weight: 500;
  }
  &_filters{
    padding: 8px;
    margin: 8px 0 16px 0;
    display: flex;
    border-radius: 8px;
  }
  &_filter{
    min-width: 140px !important;
    margin: 8px;
  }
}
