@import '../../colors.scss';

.LogoBar{
  &_container{
    position: fixed;
    top: 0;
    width: 100%;
    height: $logoBarSize;
    z-index: 15;
    display: flex;
    align-items: center;
    background-color: $copper; 
  }
  &_logoText{
    margin-left: 16px;
    @include respond-to($phone){
      margin: auto;
    }
    & p {
      color: white;
      font-size: 40px;
      font-family: "Fancy";
      @include respond-to($phone){
        font-size: 25px;
      }
    }
  }
  &_icon{
    margin: 4px 8px;
    &_container{
      position: absolute;
      right: 16px;
      display: flex;
      align-items: center;
    }
    &_menu{
      position: absolute;
      left: 16px;
    }
  }
}
