@import '../colors.scss';

.Main {
  &_banner{
    width: 100%;
    height: 200px;
    background-image: $bannerImage;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &_content{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    &_button{
      flex: 1;
      border: 1px solid $white;
      min-width: 300px;
    }
  }
}