@import '../../colors.scss';
@import '../../shared.scss';

.App{
  padding-top: $logoBarSize;
  display: flex;
  padding: 70px 0;
  margin-left: $sidebarWidth;
  margin-right: 10px; 
  @include respond-to($phone){
    margin: auto;
    flex: 1;
  }
  @include respond-to($desktop){
    padding: 70px;
  }
  @include respond-to($tablet){
    padding: 70px 28px;
  }

}