
@import '../../colors.scss';

.Sidebar{
  background-color: white;
  width: $sidebarWidth;
  flex: 1;
  position: fixed;
  z-index: 14;
  display: flex;
  flex-direction: row;
  height: 100%;
  @include respond-to($desktop, $tablet){
    height: 85%;
    margin: 16px 0;
  }
  &_unlocker{
    width: 2px;
    background-color: $copper;
    flex: 1;
    &_container{
      width: 20px;
      margin: 0 0 0 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
    }
  }
  &_arrow{
    $size: 30px; 
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: $white;
    border: 2px solid $copper;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_link{
    font-size: 16px;
    margin: 16px 8px;
    text-decoration: none;
    color: $copper;
    &_container{
      overflow-y: scroll;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

