@import './colors.scss';
@import './shared.scss';

.App{
  width: 100vw;
  min-height: calc(100vh - #{$logoBarSize});
  padding-top: $logoBarSize;
  display: flex;
  &_inner{
    margin-left: $sidebarWidth;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}