

$white: #fff;
$lightGrey: #E1E2E1;
$grey: #A2A2A2;
$lightRed: #ff6d6d;
$darken: rgba(0, 0, 0, 0.5);
$logoBarSize: 50px;
$blackish: #444444;
$copper: #fc9483;

$sidebarWidth: 260px;

:export{
  sidebarWidth: $sidebarWidth;
  logoBarSize: $logoBarSize;
  darken: $darken;
  lightGrey: $lightGrey;
  grey: $grey;
  white: $white;
  lightRed: $lightRed;
  copper: $copper;
  blackish: $blackish;
}

$phone: 'screen and (max-width: 766px)';
$tablet: 'screen and (min-width: 767px) and (max-width: 1024px)';
$desktop: 'screen and (min-width: 1025px)';

@mixin respond-to($medias...) {
  @each $media in $medias {
    @media only #{$media} {
      @content;
    }
  }
}


:export {
  phone: $phone;
  tablet: $tablet;
  desktop: $desktop;
}
