// colors
$white: #fff;
$lightGrey: #ccc;
$grey: #888;
$darkGrey: #333333;
$black: #000;
$lightRed: #ff6d6d;
$orange: #FFA000;
$lightBlue: #3FB0F0;
$green: #7ED222;
$lightYellow: #FCEC8E;
$gold: #c7ad1b;
$veryDarkGrey : #262626;
$gentlePurple: #9176c7;
// other
$darken: rgba(0, 0, 0, 0.6);
$slightlyDarken: rgba(0, 0, 0, 0.3);
// images
$bannerImage: url('');

:export{
  darkGrey: $darkGrey;
  darken: $darken;
  bannerImage: $bannerImage;
  grey: $grey;
  orange: $orange;
  gentlePurple: $gentlePurple;
  black: $black;
  lightGrey: $lightGrey;
  white: $white;
  lightRed: $lightRed;
  lightBlue: $lightBlue;
  green: $green;
  lightYellow: $lightYellow;
  veryDarkGrey: $veryDarkGrey;
  gold: $gold;
}