
@import './colors.scss';

.DarkCover{
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $darken;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fancy{
  font-family: "Fancy";
  letter-spacing: 3px;
}